body{
    font-family: 'Raleway', sans-serif;

}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
}

#title{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    font-size: 30pt;
    font-weight: 500;
   
}

img{
    width: 70%;
    justify-content: right;

}